{
  "presets": [
    "@babel/preset-env", // 최신 js 코드를 구버전 js 코드로 변환
    // 변환 타겟을 최신형 브라우저에 맞출 때에는 이 설정 사용
    // [
    //   "@babel/preset-env",
    //   { "targets": { "browsers": ["last 2 versions", ">= 5% in KR"] } }
    // ],
    ["@babel/preset-react", { "runtime": "automatic" }],
    "@babel/preset-typescript" // TypeScript 코드를 JavaScript로 변환하여 타입 정보를 제거
  ],
  "plugins": ["@babel/transform-runtime"]
}
